* {
	padding: 0;
	margin: 0;
}
.wrapper {
	margin: 0 auto;
	width: 1200px;
}
.header {
	background-image: url(banner.png);
	width: 1200px;
	height: 250px;
	position:relative;
}
.header h1 {
	position: absolute;
	left: 300px;
	top: 70px;
	animation: logoani 5s infinite alternate;
}

@keyframes logoani{
	
	0%{ top:-200px;}
	40%{top:70px; transform:perspective(250px) rotateY(0deg);}
	60%{ transform:perspective(250px) rotateY(360deg);}
	80%{transform:perspective(250px) rotateY(0deg); opacity:1;}
	90%{ opacity:0;}
	100%{ opacity:1;}
}

@-webkit-keyframes logoani{
	
	0%{ top:-200px;}
	40%{top:70px; transform:perspective(250px) rotateY(0deg);}
	60%{ transform:perspective(250px) rotateY(360deg);}
	80%{transform:perspective(250px) rotateY(0deg); opacity:1;}
	90%{ opacity:0;}
	100%{ opacity:1;}
}

.nav {
	background-color:#F90;
	height: 50px;
	padding: 20px 40px;
}
.nav ul {}
.nav li {
	float: left;
	list-style-type: none;
}
.nav li a {
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #330;
	border-radius:40px;
	text-shadow:#FFF 1px 1px 1px;
	background-color:rgba(255,255,255,0.3);
	margin-right:10px;
	box-shadow:#333 2px 2px 2px;
}
.nav li a:hover {
	color: #FFF;
	background-color: #330;
	text-shadow:none;
	box-shadow:none;
}
.content {
	background-color: #F2EEDB;
	padding: 15px 20px;
	color: #333;
}
.content h3 {
}
.content img {
	float: right;
	margin-left: 10px;
}
.content p {
	margin-top: 15px;
}
.footer {
	background-color:#333;
	color:#FFF;
	text-align:center;
	padding:30px;
}
.footer h3 {
	margin-bottom:10px;
}
.footer p {}
