*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f1c571;
	display: flex;
	justify-content: center;
}

.container{
	background-color: #16f61a;
	width: 1200px;
}

.header{
	/* background-color: #eff322; */
	background-image: url(./banner.png);
	height: 250px;
	display: flex;
	justify-content: space-between;
	padding: 10px 50px 0px 280px;

}
.header h1{
	/* background-color: #a519e1; */
	padding-top: 50px;
}
.header ul{flex;

}
.header li{
	list-style: none;
}
.header li a{}
.header li a:hover{}

.nav{
	background-color: #e61717;
	padding: 10px;
	overflow: hidden;

}
.nav ul{}
.nav li{
	list-style: none;
	float: left;
}
.nav li a{
	display: block;
	width: 160px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	/* margin-right: 10px; */
	margin: 0 10px;
	background-color: #22aedd;

}


.content{
	background-color: #e3e323;
}
<<<<<<< Updated upstream
.content {
	background-color: #F2EEDB;
	padding: 15px 20px;
	color: #333;
}
.content h3 {
	margin-bottom: 20px;
}
.content img {
	float: left;
	margin-right: 10px;
}
.content p {
	margin-top: 15px;
}
.footer {
	background-color:#333;
	color:#FFF;
	/* text-align:center; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	/* padding:30px; */
}
.footer h3 {
	margin-bottom:10px;
	margin-right: 20px;
}
.footer p {}
=======
.content h2{}
.content {}

.footer{}
.footer h2 {}






>>>>>>> Stashed changes
